<div class="mainContent">
  <div class="login">
    <div class="inputs">
      <label for="EMAIL">Email</label>
      <input type="email" name="EMAIL" [formControl]="fcEmail" />
      <label for="PASSWORD">Password</label>
      <input type="password" name="PASSWORD" [formControl]="fcPassword" />
      <h5 *ngIf="error!=''">{{error}}</h5>
    </div>
    <div class="actions">
      <button  (click)="login()">LOGIN</button>
    </div>
    <h5 (click)="nav('register')">No account yet? Create an account</h5>
  </div>
</div>
