<div class="mainContent">
  <div class="login">
    <div class="inputs">
      <label for="EMAIL">Email</label>
      <input type="email" name="EMAIL" [formControl]="fcEmail" />
      <label for="PASSWORD">Password</label>
      <input type="password" name="PASSWORD" [formControl]="fcPassword" />
    </div>
    <p>{{requestResult | json}}</p>
    <!-- <div>
      {{ fcEmail.value }}
      {{ fcPassword.value }}
    </div> -->
    <div class="actions">
      <button  (click)="login()">LOGIN</button>
      <button (click)="nav('register')">REGISTER</button>
    </div>
  </div>
</div>
