<div class="userMain">
  <table *ngIf="viewedUserIndex == undefined">
    <thead>
      <tr>
        <th><H3>Users</H3></th>
        <th><h5 (click)="resetDB()">Repopulate db</h5></th>
        <th colspan="3"><input type="search" (change)="getData(searchVal.value)" #searchVal></th>
      </tr>

      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.age }}</td>
        <td>
          <fa-icon (click)="deleteUser(i)" [icon]="faTrash"></fa-icon>
          <fa-icon (click)="viewUserData(i)" [icon]="faEdit"></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>
  <edit-user
    *ngIf="viewedUserIndex != undefined"
    [user]="users[viewedUserIndex]"
    (backEvent)="handleBackEvent($event)"
  ></edit-user>
</div>
